# VPC Network Claim - Crossplane v2 (namespaced XR)
---
apiVersion: network.example.com/v1alpha1
kind: AppNetwork
metadata:
  name: ${{ values.networkName }}
  namespace: default
  labels:
    app.kubernetes.io/name: ${{ values.networkName }}
    app.kubernetes.io/managed-by: backstage
    backstage.io/kubernetes-id: vpc-${{ values.networkName }}
    environment: ${{ values.environment }}
  annotations:
    backstage.io/owner: ${{ values.owner }}
    argocd.argoproj.io/sync-wave: "0"
spec:
  # Crossplane v2 - flat spec structure
  networkName: ${{ values.networkName }}
  region: ${{ values.region }}
  vpcCidr: ${{ values.vpcCidr }}
  numberOfAZs: ${{ values.numberOfAZs }}
  enableDnsHostnames: ${{ values.enableDnsHostnames }}
  enableDnsSupport: ${{ values.enableDnsSupport }}
  createNatGateway: ${{ values.createNatGateway }}
  crossplane:
    compositionRef:
      name: network-composition
